{% extends "layout.html" %}
{% block content %}
<h2>Create Account</h2>
{% if error %}<p style="color:red">{{ error }}</p>{% endif %}
<form method="post">
  <input type="text"     name="name" placeholder="Username" required><br><br>
  <select name="role">
    <option value="student">Student</option>
    <option value="admin">Admin</option>
    <option value="club">Club</option>
  </select><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <button class="button">Register</button>
</form>
{% endblock %}
